<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>HMedical Insurance Prediction</title>
  
</head>
<body>
    <div style="color:rgb(237, 173, 64);" class="container">
        <h2 class='container-heading'><span class="heading_font">Medical Insurance Cost Predicter</span></h2>
    </div>

    <div style="color:rgb(60, 191, 227);" class="ml-container">
        <form action="{{ url_for('predict') }}" method="POST">
            <br>
            <br>
            <h3>Age</h3>
            <input id="first" name="age" placeholder="in year" required="required">
            <br>
            <h3>Sex</h3>
            <select id="second" class="form-input align-center" name="sex">
                <option value="None">Sex</option>
                <option value="sex_male">Male</option>
                <option value="sex_female">Female</option>
            </select>
            <br>
            <h3>Smoker</h3>
            <select id="third" class="form-input align-center" name="smoker">
                <option value="None">Smoker</option>
                <option value="smoker_yes">Yes</option>
                <option value="smoker_no">No</option>
            </select>
            <br>
            <h3>Body Mass Index</h3>
            <input id="fourth" name="bmi" placeholder="bmi" required="required">
            <br>
            <h3>Number of Childrens?</h3>
            <input id="fifth" name="children" placeholder="0, 1, 2, 3, 4, 5" required="required">
            <br>
            <h3>Region</h3>
            <select id="sixth" class="form-input align-center" name="region">
                <option value="None">Region</option>
                <option value="region_northwest">North-West</option>
                <option value="region_southeast">South-East</option>
                <option value="region_southwest">South-West</option>
                <option value="region_northeast">North-East</option>
            </select>
            <br>
            <br>
            <br>
            <button id="sub" type="submit ">Submit</button>
        
        

        </form>
    </div>
     
     
     </body>
     </html>